# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\manol\Desktop\an 3 informatica economica\sem 2\calitate si testare software\cts-tema1\Seminar3\Laboratory14\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
